DJANGO_ENV=prod
DEBUG=false
SECRET_KEY='change-me-generate-a-strong-secret'
ALLOWED_HOSTS=*
BOOTSTRAP_API_KEY=sc_bootstrap_dev_key_change_me

POSTGRES_DB=smartcomply
POSTGRES_USER=smartcomply
POSTGRES_PASSWORD=change-me-generate-a-strong-password
DATABASE_URL=postgres://smartcomply:change-me-generate-a-strong-password@postgres:5432/smartcomply
REDIS_URL=redis://redis:6379/0
CHANNEL_REDIS_URL=redis://redis:6379/1